.button{
  background-color: $yellow;
  cursor: pointer;
  color: #000;
  border-radius: 100px;
  font-size: 22px;
  padding: 15px 30px;
  display: inline-block;
  text-decoration: none;
  border: none;
  &:hover{
    background: #fbef2b;
    background: -moz-linear-gradient(top, #fbef2b 0%, #ffdb2b 100%);
    background: -webkit-linear-gradient(top, #fbef2b 0%,#ffdb2b 100%);
    background: linear-gradient(to bottom, #fbef2b 0%,#ffdb2b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbef2b', endColorstr='#ffdb2b',GradientType=0 );
  }
}