.main{
  &__topline{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include resp(0, 680){
      flex-wrap: wrap;
      width: 100%;
      background-color: #fff;
    }
    @include resp(680, 800){
      flex-wrap: wrap;
      justify-content: center;
    }
    .logo{
      margin-right: 100px;
      @include resp(800, 1000){
        margin-right: 30px;
      }
      @include resp(680, 800){
        margin-right: 0px;
      }
      &__desk{
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        margin: 0px;
        text-transform: lowercase;
      }
      &__name{
        margin: 0px;
        color: $green;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 3px;
      }
    }
  }
  nav{
    width: 100%;
    @include resp(0, 680){
      display: none;
      width: 100%;
    }
  }
  .burger{
    display: none;
    @include resp(0, 680){
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      background-color: #ededed;
      border-radius: 100%;
      width: 60px;
      height: 60px;
      div{
        width: 25px;
        height: 3px;
        border-radius: 100px;
        margin-top: 2px;
        margin-bottom: 2px;
        background-color: gray;
      }
    }
  }
  &__menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    @include resp(0, 680){
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    li{
      @include resp(0, 680){
        margin-bottom: 10px;
      }
      a{
        color: #000;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        transition: .3s;
        &:hover{
          color: $green;
          transition: .3s;
        }
      }
      &.telephone{
        display: flex;
        align-items: center;
        img{
          margin-right: 5px;
        }
      }
    }
  }
  &__content{
    background: url("../img/bg1.png") no-repeat center bottom;
    background-size: cover;
    height: calc(95vh - 100px);
    min-height: 500px;
    @include resp(0, 800){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 0px;
    }
    .container{
      padding-top: 75px;
      @include resp(0, 800){
        text-align: center;
        padding: 0px;
      }
      h1,h2{
        color: #fff;
      }
      h1{
        font-weight: bold;
        font-size: 34px;
        margin-bottom: 10px;
        @include resp(0, 800){
          text-align: center;
          font-size: 26px;
        }
      }
      h2{
        margin-top: 10px;
        font-size: 28px;
        font-weight: 400;
        @include resp(0, 800){
          text-align: center;
          font-size: 22px;
        }
      }
      .button{
        @include resp(0, 800){
          margin: 0 auto;
          font-size: 18px;
        }
      }
    }
  }
}